/*
  Project name(项目名称)：vue_and_axios_joke 
  File name(文件名): style
  Author(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/4/14 
  Time(创建时间)： 21:25
  Version(版本): 1.0
  Description(描述)： 无
 */


body {
    background-color: #f7e6ff;
}

.button_p {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.result_p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.button {
    width: 250px;
    height: 70px;
    border-radius: 30px;
    border: 7px dotted lightskyblue;
    background-color: #a0e5ff;
    color: deepskyblue;
    font-size: 24px;
}

.result {
    width: 75vw;
    border-radius: 30px;
    border: 7px dotted lightpink;
    font-size: 24px;
    color: deepskyblue;
    background-color: #cfffd7;
    min-height: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;

}